@{
    ViewData["Title"] = "Home Page";
}
@model VueApplication.Models.Account

<div class="text-center" id="index">
    <form asp-controller="Account" asp-action="PostAccount" method="post">
        <button type="submit" name="Id" value="Button1">Button1</button>
        <button type="submit" name="Id" value="Button2">Button2</button>
        <button type="submit" name="Id" value="button3">button3</button><br>
        <input type="text" name="Name" value="ABCDE" /><br>
        <input type="text" name="Number" value="12345" /><br>
        @{
            var date = new DateTimeOffset();
            <input type="text" name="Date" value="@date" />
        }
    </form>
</div>
